<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/base :: base(~{this::content})}">

    <th:block th:fragment="content">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Board Form</h1>
        <p class="mb-4">게시글 작성 양식</p>

        <!-- Card -->
        <div class="card shadow mb-5">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">New Board</h6>
            </div>
            <div class="card-body">
                <form action="" th:action th:object="${board}" method="post">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" th:field="*{title}" id="title">
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea class="form-control" th:field="*{content}" id="content" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="writer">Writer</label>
                        <input type="text" class="form-control" th:field="*{writer}" id="writer">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                    <button type="submit" class="btn btn-info">List</button>
                </form>
                <hr>
                <div class="text-center">
                    <a class="small" href="#">Already have an account? Login!</a>
                </div>
            </div>
        </div>

    </th:block>

</th:block>
</html>