<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/base :: base(~{this::content})}">

    <th:block th:fragment="content">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">List</h1>
        <p class="mb-4">게시글 목록 페이지 입니다.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Board List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Title</th>
                            <th>Writer</th>
                            <th>Date</th>
                            <th>Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="board : ${list}">
                            <td><a th:href="@{/boards/{bid}(bid=${board.bid})}" th:text="${board.bid}">No</a></td>
                            <td><a th:href="@{/boards/{bid}(bid=${board.bid})}" th:text="${board.title}">Title</a></td>
                            <td th:text="${board.writer}">Writer</td>
                            <td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}">Date</td>
                            <td th:text="${board.count}">Count</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--모달 추가-->
        <div class="modal" id="myModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Result Modal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>처리가 완료 되었습니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            $(document).ready(function(){
                let bid = [[${bid}]];
                console.log(bid);
                checkModal(bid);


                function checkModal(result) {
                    if(result === '' || result === null) { // result가 null 일경우,  공백일경우 강제 종료
                        return;
                    }
                    if(parseInt(result) > 0) { // 고유번호 있는경우
                        $(".modal-body").html("<p>게시글 " + parseInt(result) + "번이 등록되었습니다.</p>");
                    }
                    $("#myModal").modal("show"); // 모달 띄우기
                }

            });
        </script>
    </th:block> <!--/content fragment-->
</th:block>
</html>