<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.board.repository.BoardMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="bid">
        insert into board(title, writer, content)
        values(#{title}, #{writer}, #{content})
    </insert>
    <select id="selectAll" resultType="Board">
        select * from board order by bid desc
    </select>

    <select id="findOne" resultType="Board">
        select * from board where bid=#{bid}
    </select>

    <select id="selectArticlesWithPaging" resultType="Board">
        select * from board order by bid desc
        limit #{offset}, #{size}
    </select>

    <select id="getArticleCount" resultType="Long">
        select count(*) from board
    </select>

    <update id="updateViewCount">
        update board set count=count+1 where bid=#{bid}
    </update>

    <update id="update">
        update board set title=#{title}, content=#{content}
        where bid=#{bid}
    </update>

    <delete id="delete">
        delete from board where bid=#{bid}
    </delete>
</mapper>